body

{
  background: grey;
  font: size 20px;
  
}

.introP{
  text-decoration: underline;
}

.row div{
  height: 200px;
}

.col {
  margin: auto 0;
  text-align:center;  
}

.firstCol{
  background: pink;
}

.col:hover{
  background: green;
  cursor: help;
}

.secondCol{
  background: black;
  color:white;
  font-weight:bold;
  font-size: 30px;
}

.thirdCol{
  background: #800000;
  color:white;
  font-size: 20px;
}

h1{
  text-align: right;
  background: yellow;
}

h1:hover{
  background: black;
  color: yellow;
}

a{
  text-align:center;
  width: 200px;
  display: block;
  margin: 20px auto;
  text-decoration:none;
  background: green;
  color: white;
  border-radius: 700px;
  padding: 30px;
  border: 10px dashed orange;
}

a:hover{
  background: red;
  border-radius: 0px;
  color: white;
  font-weight: bold;
}

